
.weibo-content {
  margin-top: 25px;
  max-width: 700px;

  .weibo-head {
    position: relative;
    margin-bottom: 10px;

    .screen-name > a {
      color: #333;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
    }

    time {
      display: block;
      margin-top: 7px;
      font-size: 12px;
      color: #808080;
    }

    .orig-link {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px;
      color: #3c6e9e;
      text-decoration: none;
    }
  }

  .weibo-text {
    font-size: 14px;
    line-height: 23px;
    word-wrap: break-word;

    a {
      color: #3c6e9e;
      text-decoration: none;
    }

    .url-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 4px;
      width: 12px;
      height: 18px;
      line-height: 18px;
    }
  }

  .video-player {
    margin: 10px auto 0;
    border: 1px solid #ddd;
  }

  .footer-time {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #808080;
  }

  .imgs {
    text-align: center;

    img {
      margin-top: 15px;
      max-width: 70%;
      border: 1px solid #ddd;
    }
  }

  &.original {
    margin-top: 25px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 18px 15px;
  }

  &.retweeted {
    margin: 5px -15px -18px;
    background: #f2f2f2;
    padding: 15px 15px;
  }
}
